n8n-workflows/auto-trading-with-auto-order-v8.json
{
  "name": "자동매매 모니터링 v8 (자동주문)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "1분마다 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SUPABASE_URL",
              "value": "https://hznkyaomtrpzcayayayh.supabase.co"
            },
            {
              "name": "SUPABASE_ANON_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bmt5YW9tdHJwemNheWF5YXloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NTAwMDksImV4cCI6MjA3MjEyNjAwOX0.obZl3gnWisI-Eg8zWzestO7z3IQpFi6kViEJprsaJbs"
            },
            {
              "name": "KIWOOM_APP_KEY",
              "value": "S0FEQ8I3UYwgcEPepJrfO6NteTCziz4540NljbYIASU"
            },
            {
              "name": "KIWOOM_APP_SECRET",
              "value": "tBh2TG4i0nwvKMC5s_DCVSlnWec3pgvLEmxIqL2RDsA"
            },
            {
              "name": "BACKEND_URL",
              "value": "http://192.168.50.150:8000"
            }
          ]
        }
      },
      "id": "set-env-1",
      "name": "환경변수 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{new Date().getHours()}}",
              "operation": "largerEqual",
              "value2": 9
            },
            {
              "value1": "={{new Date().getHours()}}",
              "operation": "smallerEqual",
              "value2": 15
            },
            {
              "value1": "={{new Date().getDay()}}",
              "operation": "largerEqual",
              "value2": 1
            },
            {
              "value1": "={{new Date().getDay()}}",
              "operation": "smallerEqual",
              "value2": 5
            }
          ]
        }
      },
      "id": "market-check-1",
      "name": "장시간 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mockapi.kiwoom.com/oauth2/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"grant_type\": \"client_credentials\",\n  \"appkey\": \"{{$node[\"환경변수 설정\"].json[\"KIWOOM_APP_KEY\"]}}\",\n  \"secretkey\": \"{{$node[\"환경변수 설정\"].json[\"KIWOOM_APP_SECRET\"]}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            }
          ]
        }
      },
      "id": "get-token-1",
      "name": "키움 토큰 발급",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$node[\"환경변수 설정\"].json[\"SUPABASE_URL\"]}}/rest/v1/rpc/get_active_strategies_with_universe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$node[\"환경변수 설정\"].json[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$node[\"환경변수 설정\"].json[\"SUPABASE_ANON_KEY\"]}}"
            }
          ]
        }
      },
      "id": "get-strategies-1",
      "name": "자동매매 전략 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nconst envVars = $('환경변수 설정').first().json;\nconst tokenData = $('키움 토큰 발급').first().json;\n\nfor (const item of items) {\n  const strategy = item.json;\n  const stockCodes = [];\n  \n  if (strategy.filtered_stocks && Array.isArray(strategy.filtered_stocks)) {\n    strategy.filtered_stocks.forEach(code => {\n      if (code && typeof code === 'string') {\n        stockCodes.push(code);\n      }\n    });\n  }\n  \n  stockCodes.forEach(stockCode => {\n    results.push({\n      json: {\n        strategy_id: strategy.strategy_id,\n        strategy_name: strategy.strategy_name,\n        entry_conditions: strategy.entry_conditions,\n        exit_conditions: strategy.exit_conditions,\n        stock_code: stockCode,\n        access_token: tokenData.access_token,\n        KIWOOM_APP_KEY: envVars.KIWOOM_APP_KEY,\n        KIWOOM_APP_SECRET: envVars.KIWOOM_APP_SECRET,\n        SUPABASE_URL: envVars.SUPABASE_URL,\n        SUPABASE_ANON_KEY: envVars.SUPABASE_ANON_KEY,\n        BACKEND_URL: envVars.BACKEND_URL\n      }\n    });\n  });\n}\n\nreturn results;"
      },
      "id": "extract-stocks-1",
      "name": "종목 코드 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mockapi.kiwoom.com/api/dostk/mrkcond",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stk_cd\": \"{{$json.stock_code}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "authorization",
              "value": "Bearer {{$json.access_token}}"
            },
            {
              "name": "cont-yn",
              "value": "N"
            },
            {
              "name": "next-key",
              "value": ""
            },
            {
              "name": "api-id",
              "value": "ka10004"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          }
        }
      },
      "id": "get-price-1",
      "name": "키움 호가 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "const currentItem = $input.item.json;\nconst strategy = currentItem;\nconst stockCode = currentItem.stock_code;\n\nconst selPrice = parseFloat(currentItem.sel_fpr_bid || 0);\nconst buyPrice = parseFloat(currentItem.buy_fpr_bid || 0);\nconst estimatedPrice = (selPrice + buyPrice) / 2;\n\nconst indicators = {\n  close: estimatedPrice,\n  sel_price: selPrice,\n  buy_price: buyPrice,\n  volume: parseInt(currentItem.tot_buy_req || 0) + parseInt(currentItem.tot_sel_req || 0)\n};\n\nlet buySignal = false;\nif (strategy.entry_conditions && strategy.entry_conditions.buy) {\n  buySignal = strategy.entry_conditions.buy.some(condition => {\n    const left = indicators[condition.left] || 0;\n    const right = typeof condition.right === 'string' ? indicators[condition.right] : condition.right;\n    \n    switch(condition.operator) {\n      case '<': return left < right;\n      case '>': return left > right;\n      case '<=': return left <= right;\n      case '>=': return left >= right;\n      case '==': return left == right;\n      default: return false;\n    }\n  });\n}\n\nlet sellSignal = false;\nif (strategy.exit_conditions && strategy.exit_conditions.sell) {\n  sellSignal = strategy.exit_conditions.sell.some(condition => {\n    const left = indicators[condition.left] || 0;\n    const right = typeof condition.right === 'string' ? indicators[condition.right] : condition.right;\n    \n    switch(condition.operator) {\n      case '<': return left < right;\n      case '>': return left > right;\n      case '<=': return left <= right;\n      case '>=': return left >= right;\n      case '==': return left == right;\n      default: return false;\n    }\n  });\n}\n\nreturn {\n  strategy_id: strategy.strategy_id,\n  strategy_name: strategy.strategy_name,\n  stock_code: stockCode,\n  current_price: estimatedPrice,\n  indicators: indicators,\n  buy_signal: buySignal,\n  sell_signal: sellSignal,\n  signal_type: buySignal ? 'BUY' : (sellSignal ? 'SELL' : 'NONE'),\n  signal_strength: buySignal ? 0.7 : (sellSignal ? 0.7 : 0),\n  timestamp: new Date().toISOString(),\n  SUPABASE_URL: currentItem.SUPABASE_URL,\n  SUPABASE_ANON_KEY: currentItem.SUPABASE_ANON_KEY,\n  BACKEND_URL: currentItem.BACKEND_URL\n};"
      },
      "id": "check-conditions-1",
      "name": "조건 체크 및 신호 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.signal_type}}",
              "operation": "notEqual",
              "value2": "NONE"
            }
          ]
        }
      },
      "id": "check-signal-1",
      "name": "신호 있음?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.SUPABASE_URL}}/rest/v1/trading_signals",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"strategy_id\": \"{{$json.strategy_id}}\",\n  \"stock_code\": \"{{$json.stock_code}}\",\n  \"stock_name\": \"{{$json.stock_code}}\",\n  \"signal_type\": \"{{$json.signal_type}}\",\n  \"signal_strength\": {{$json.signal_strength}},\n  \"current_price\": {{$json.current_price}},\n  \"volume\": {{$json.indicators.volume || 0}},\n  \"conditions_met\": {{JSON.stringify($json.indicators)}}\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "save-signal-1",
      "name": "신호 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$('조건 체크 및 신호 생성').item.json.signal_type}}",
              "operation": "equal",
              "value2": "BUY"
            }
          ]
        }
      },
      "id": "check-buy-signal",
      "name": "매수 신호만?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 300]
    },
    {
      "parameters": {
        "jsCode": "const signal = $('조건 체크 및 신호 생성').item.json;\n\n// 계좌 잔고 (TODO: DB에서 조회)\nconst availableCash = 10000000;\n\n// 계좌의 10%로 매수\nconst allocationPercentage = 0.10;\nconst maxBudget = availableCash * allocationPercentage;\n\nconst currentPrice = signal.current_price;\nconst quantity = Math.floor(maxBudget / currentPrice);\n\nif (quantity < 1) {\n  return {\n    json: {\n      skip: true,\n      reason: '주문 가능 수량 부족',\n      stock_code: signal.stock_code,\n      current_price: currentPrice\n    }\n  };\n}\n\nreturn {\n  json: {\n    skip: false,\n    stock_code: signal.stock_code,\n    stock_name: signal.stock_code,\n    quantity: quantity,\n    price: 0,\n    order_type: 'buy',\n    current_price: currentPrice,\n    strategy_id: signal.strategy_id,\n    strategy_name: signal.strategy_name,\n    signal_strength: signal.signal_strength,\n    SUPABASE_URL: signal.SUPABASE_URL,\n    SUPABASE_ANON_KEY: signal.SUPABASE_ANON_KEY,\n    BACKEND_URL: signal.BACKEND_URL\n  }\n};"
      },
      "id": "calc-quantity",
      "name": "주문 수량 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip}}",
              "operation": "notEqual",
              "value2": true
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "주문 가능?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.BACKEND_URL}}/api/order/buy",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stock_code\": \"{{$json.stock_code}}\",\n  \"quantity\": {{$json.quantity}},\n  \"price\": {{$json.price}},\n  \"order_type\": \"{{$json.order_type}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "execute-order",
      "name": "키움 주문 실행",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('주문 수량 계산').item.json.SUPABASE_URL}}/rest/v1/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"f912da32-897f-4dbb-9242-3a438e9733a8\",\n  \"stock_code\": \"{{$('주문 수량 계산').item.json.stock_code}}\",\n  \"order_type\": \"BUY\",\n  \"order_status\": \"{{$json.status || 'completed'}}\",\n  \"order_price\": {{$('주문 수량 계산').item.json.current_price}},\n  \"order_quantity\": {{$('주문 수량 계산').item.json.quantity}},\n  \"executed_price\": {{$json.price || $('주문 수량 계산').item.json.current_price}},\n  \"executed_quantity\": {{$json.status === 'success' ? $('주문 수량 계산').item.json.quantity : 0}},\n  \"kiwoom_order_no\": \"{{$json.order_no}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('주문 수량 계산').item.json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{$('주문 수량 계산').item.json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "save-order",
      "name": "주문 기록 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [3050, 100]
    }
  ],
  "connections": {
    "1분마다 실행": {
      "main": [[{"node": "환경변수 설정", "type": "main", "index": 0}]]
    },
    "환경변수 설정": {
      "main": [[{"node": "장시간 체크", "type": "main", "index": 0}]]
    },
    "장시간 체크": {
      "main": [[{"node": "키움 토큰 발급", "type": "main", "index": 0}]]
    },
    "키움 토큰 발급": {
      "main": [[{"node": "자동매매 전략 조회", "type": "main", "index": 0}]]
    },
    "자동매매 전략 조회": {
      "main": [[{"node": "종목 코드 추출", "type": "main", "index": 0}]]
    },
    "종목 코드 추출": {
      "main": [[{"node": "키움 호가 조회", "type": "main", "index": 0}]]
    },
    "키움 호가 조회": {
      "main": [[{"node": "조건 체크 및 신호 생성", "type": "main", "index": 0}]]
    },
    "조건 체크 및 신호 생성": {
      "main": [[{"node": "신호 있음?", "type": "main", "index": 0}]]
    },
    "신호 있음?": {
      "main": [
        [
          {"node": "신호 저장", "type": "main", "index": 0},
          {"node": "매수 신호만?", "type": "main", "index": 0}
        ]
      ]
    },
    "매수 신호만?": {
      "main": [[{"node": "주문 수량 계산", "type": "main", "index": 0}]]
    },
    "주문 수량 계산": {
      "main": [[{"node": "주문 가능?", "type": "main", "index": 0}]]
    },
    "주문 가능?": {
      "main": [[{"node": "키움 주문 실행", "type": "main", "index": 0}]]
    },
    "키움 주문 실행": {
      "main": [[{"node": "주문 기록 저장", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
