n8n-workflows/auto-trading-with-capital-validation-v36.json
{
  "name": "자동매매 모니터링 v36 (HTTP Request 노드 방식)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-1",
      "name": "1시간마다 실행",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SUPABASE_URL",
              "value": "https://hznkyaomtrpzcayayayh.supabase.co"
            },
            {
              "name": "SUPABASE_ANON_KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh6bmt5YW9tdHJwemNheWF5YXloIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY1NTAwMDksImV4cCI6MjA3MjEyNjAwOX0.obZl3gnWisI-Eg8zWzestO7z3IQpFi6kViEJprsaJbs"
            },
            {
              "name": "KIWOOM_APP_KEY",
              "value": "S0FEQ8I3UYwgcEPepJrfO6NteTCziz4540NljbYIASU"
            },
            {
              "name": "KIWOOM_APP_SECRET",
              "value": "tBh2TG4i0nwvKMC5s_DCVSlnWec3pgvLEmxIqL2RDsA"
            }
          ]
        }
      },
      "id": "set-env-1",
      "name": "환경변수 설정",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{new Date().getHours()}}",
              "operation": "largerEqual",
              "value2": 9
            },
            {
              "value1": "={{new Date().getHours()}}",
              "operation": "smallerEqual",
              "value2": 15
            },
            {
              "value1": "={{new Date().getDay()}}",
              "operation": "largerEqual",
              "value2": 1
            },
            {
              "value1": "={{new Date().getDay()}}",
              "operation": "smallerEqual",
              "value2": 5
            }
          ]
        }
      },
      "id": "market-check-1",
      "name": "장시간 체크",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mockapi.kiwoom.com/oauth2/token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"grant_type\": \"client_credentials\",\n  \"appkey\": \"{{$node[\"환경변수 설정\"].json[\"KIWOOM_APP_KEY\"]}}\",\n  \"secretkey\": \"{{$node[\"환경변수 설정\"].json[\"KIWOOM_APP_SECRET\"]}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            }
          ]
        }
      },
      "id": "get-token-1",
      "name": "키움 토큰 발급",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$node[\"환경변수 설정\"].json[\"SUPABASE_URL\"]}}/rest/v1/rpc/get_active_strategies_with_universe",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "={{\"Bearer \" + $node[\"환경변수 설정\"].json[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "apikey",
              "value": "={{$node[\"환경변수 설정\"].json[\"SUPABASE_ANON_KEY\"]}}"
            }
          ]
        }
      },
      "id": "get-strategies-1",
      "name": "자동매매 전략 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "jsCode": "// 종목 코드 추출 (fetch 사용 안 함)\nconst items = $input.all();\nconst envVars = $('환경변수 설정').first().json;\nconst tokenData = $('키움 토큰 발급').first().json;\n\nconst results = [];\n\nfor (const item of items) {\n  const strategy = item.json;\n  let stockCodes = [];\n\n  if (strategy.filtered_stocks) {\n    if (Array.isArray(strategy.filtered_stocks)) {\n      stockCodes = strategy.filtered_stocks.filter(code => code && typeof code === 'string');\n    } else if (typeof strategy.filtered_stocks === 'object') {\n      stockCodes = Object.values(strategy.filtered_stocks).filter(code => code && typeof code === 'string');\n    }\n  }\n\n  stockCodes.forEach(stockCode => {\n    results.push({\n      json: {\n        stock_code: stockCode,\n        strategy_id: strategy.strategy_id,\n        strategy_name: strategy.strategy_name,\n        access_token: tokenData.token,\n        SUPABASE_URL: envVars.SUPABASE_URL,\n        SUPABASE_ANON_KEY: envVars.SUPABASE_ANON_KEY\n      }\n    });\n  });\n}\n\nreturn results;"
      },
      "id": "extract-stocks-1",
      "name": "종목 코드 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://mockapi.kiwoom.com/api/dostk/mrkcond",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stk_cd\": \"{{$json.stock_code}}\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json;charset=UTF-8"
            },
            {
              "name": "authorization",
              "value": "={{\"Bearer \" + $json.access_token}}"
            },
            {
              "name": "cont-yn",
              "value": "N"
            },
            {
              "name": "next-key",
              "value": ""
            },
            {
              "name": "api-id",
              "value": "ka10004"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 60000
            }
          }
        }
      },
      "id": "get-price-1",
      "name": "키움 호가 조회 (60초 간격)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$json.SUPABASE_URL}}/rest/v1/stock_metadata?stock_code=eq.{{$json.stock_code}}&select=stock_name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + $json.SUPABASE_ANON_KEY}}"
            }
          ]
        }
      },
      "id": "get-stock-name",
      "name": "종목명 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$('키움 호가 조회 (60초 간격)').item.json.SUPABASE_URL}}/rest/v1/kw_price_daily?stock_code=eq.{{$('키움 호가 조회 (60초 간격)').item.json.stock_code}}&select=close&order=trade_date.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('키움 호가 조회 (60초 간격)').item.json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + $('키움 호가 조회 (60초 간격)').item.json.SUPABASE_ANON_KEY}}"
            }
          ]
        }
      },
      "id": "get-prev-close",
      "name": "전일종가 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "jsCode": "// 데이터 병합 (fetch 사용 안 함)\nconst stockData = $('키움 호가 조회 (60초 간격)').item.json;\nconst kiwoomPrice = $input.item.json;\nconst stockNameData = $('종목명 조회').item.json;\nconst prevCloseData = $('전일종가 조회').item.json;\n\n// 종목명\nconst stockName = (stockNameData && stockNameData.length > 0 && stockNameData[0].stock_name) \n  ? stockNameData[0].stock_name \n  : stockData.stock_code;\n\n// 전일종가\nconst previousClose = (prevCloseData && prevCloseData.length > 0) \n  ? parseFloat(prevCloseData[0].close) \n  : 0;\n\n// 호가 가격 파싱\nconst parsePrice = (price) => {\n  if (!price) return 0;\n  return parseFloat(String(price).replace(/[+\\-]/g, ''));\n};\n\nconst selPrice = parsePrice(kiwoomPrice.sel_fpr_bid);\nconst buyPrice = parsePrice(kiwoomPrice.buy_fpr_bid);\nconst estimatedPrice = (selPrice + buyPrice) / 2;\n\n// 등락가/률 계산\nconst changePrice = previousClose > 0 ? estimatedPrice - previousClose : 0;\nconst changeRate = previousClose > 0 ? ((changePrice / previousClose) * 100) : 0;\n\n// 거래량\nconst selVolume = parseInt(String(kiwoomPrice.sel_fpr_req || 0).replace(/[+\\-]/g, '')) || 0;\nconst buyVolume = parseInt(String(kiwoomPrice.buy_fpr_req || 0).replace(/[+\\-]/g, '')) || 0;\n\nreturn {\n  stock_code: stockData.stock_code,\n  stock_name: stockName,\n  current_price: estimatedPrice,\n  change_price: changePrice,\n  change_rate: changeRate,\n  volume: selVolume + buyVolume,\n  sel_price: selPrice,\n  buy_price: buyPrice,\n  SUPABASE_URL: stockData.SUPABASE_URL,\n  SUPABASE_ANON_KEY: stockData.SUPABASE_ANON_KEY\n};"
      },
      "id": "merge-data",
      "name": "데이터 병합 및 계산",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.SUPABASE_URL}}/rest/v1/kw_stock_master",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stock_code\": {{JSON.stringify($json.stock_code)}},\n  \"stock_name\": {{JSON.stringify($json.stock_name)}},\n  \"market\": \"KOSPI\"\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + $json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        }
      },
      "id": "save-master",
      "name": "종목 마스터 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('데이터 병합 및 계산').item.json.SUPABASE_URL}}/rest/v1/kw_price_current",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"stock_code\": {{JSON.stringify($('데이터 병합 및 계산').item.json.stock_code)}},\n  \"stock_name\": {{JSON.stringify($('데이터 병합 및 계산').item.json.stock_name)}},\n  \"current_price\": {{$('데이터 병합 및 계산').item.json.current_price}},\n  \"change_price\": {{$('데이터 병합 및 계산').item.json.change_price}},\n  \"change_rate\": {{$('데이터 병합 및 계산').item.json.change_rate}},\n  \"volume\": {{$('데이터 병합 및 계산').item.json.volume}},\n  \"high_52w\": {{$('데이터 병합 및 계산').item.json.sel_price}},\n  \"low_52w\": {{$('데이터 병합 및 계산').item.json.buy_price}},\n  \"market_cap\": 0\n}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('데이터 병합 및 계산').item.json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{\"Bearer \" + $('데이터 병합 및 계산').item.json.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        }
      },
      "id": "save-current",
      "name": "현재가 저장",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "1시간마다 실행": {
      "main": [[{"node": "환경변수 설정", "type": "main", "index": 0}]]
    },
    "환경변수 설정": {
      "main": [[{"node": "장시간 체크", "type": "main", "index": 0}]]
    },
    "장시간 체크": {
      "main": [[{"node": "키움 토큰 발급", "type": "main", "index": 0}]]
    },
    "키움 토큰 발급": {
      "main": [[{"node": "자동매매 전략 조회", "type": "main", "index": 0}]]
    },
    "자동매매 전략 조회": {
      "main": [[{"node": "종목 코드 추출", "type": "main", "index": 0}]]
    },
    "종목 코드 추출": {
      "main": [[{"node": "키움 호가 조회 (60초 간격)", "type": "main", "index": 0}]]
    },
    "키움 호가 조회 (60초 간격)": {
      "main": [[
        {"node": "종목명 조회", "type": "main", "index": 0},
        {"node": "전일종가 조회", "type": "main", "index": 0}
      ]]
    },
    "종목명 조회": {
      "main": [[{"node": "데이터 병합 및 계산", "type": "main", "index": 0}]]
    },
    "전일종가 조회": {
      "main": [[{"node": "데이터 병합 및 계산", "type": "main", "index": 0}]]
    },
    "데이터 병합 및 계산": {
      "main": [[{"node": "종목 마스터 저장", "type": "main", "index": 0}]]
    },
    "종목 마스터 저장": {
      "main": [[{"node": "현재가 저장", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "executionTimeout": 3600
  }
}
