n8n-workflows/workflow-v7-1-condition-monitoring.json
{
  "name": "Workflow V7-1: Condition Proximity Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/1 * * * *"
            }
          ]
        }
      },
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  s.id as strategy_id,\n  s.name as strategy_name,\n  s.entry_conditions,\n  s.universe,\n  s.position_size\nFROM strategies s\nWHERE s.is_active = true"
      },
      "name": "Get Active Strategies",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Strategies",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract stock codes from universe\nconst universe = $input.item.json.universe;\nconst stockCodes = Array.isArray(universe) ? universe : [];\n\nreturn stockCodes.map(code => ({\n  json: {\n    strategy_id: $input.item.json.strategy_id,\n    strategy_name: $input.item.json.strategy_name,\n    entry_conditions: $input.item.json.entry_conditions,\n    position_size: $input.item.json.position_size,\n    stock_code: code\n  }\n}));"
      },
      "name": "Extract Stock Codes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "name": "Split Stocks",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3001/api/kiwoom/market-data",
        "options": {
          "timeout": 10000
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "stock_code",
              "value": "={{ $json.stock_code }}"
            }
          ]
        }
      },
      "name": "Get Market Data from Kiwoom",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Calculate condition match score\nconst entryConditions = $input.item.json.entry_conditions;\nconst marketData = $input.item.json.market_data;\n\n// Parse entry conditions (assuming JSON format)\nconst conditions = typeof entryConditions === 'string' \n  ? JSON.parse(entryConditions) \n  : entryConditions;\n\n// Initialize conditions met object\nconst conditionsMet = {};\nconst scores = [];\n\n// Example: RSI condition\nif (conditions.rsi_below) {\n  const rsiCurrent = marketData.rsi || 50;\n  const rsiRequired = conditions.rsi_below;\n  const rsiMet = rsiCurrent < rsiRequired;\n  const rsiProgress = rsiMet ? 100 : Math.min((rsiRequired / rsiCurrent) * 100, 100);\n  \n  conditionsMet.rsi = {\n    required: `< ${rsiRequired}`,\n    current: rsiCurrent.toString(),\n    met: rsiMet,\n    progress: rsiProgress.toFixed(2)\n  };\n  scores.push(rsiProgress);\n}\n\n// Example: Volume condition\nif (conditions.volume_multiplier) {\n  const volumeRatio = marketData.volume_ratio || 1;\n  const volumeRequired = conditions.volume_multiplier;\n  const volumeMet = volumeRatio >= volumeRequired;\n  const volumeProgress = Math.min((volumeRatio / volumeRequired) * 100, 100);\n  \n  conditionsMet.volume = {\n    required: `> ${volumeRequired}x`,\n    current: `${volumeRatio.toFixed(2)}x`,\n    met: volumeMet,\n    progress: volumeProgress.toFixed(2)\n  };\n  scores.push(volumeProgress);\n}\n\n// Example: Price vs MA condition\nif (conditions.price_vs_ma) {\n  const currentPrice = marketData.current_price || 0;\n  const ma20 = marketData.ma20 || currentPrice;\n  const priceVsMa = (currentPrice / ma20) * 100;\n  \n  let priceMet = false;\n  let priceProgress = 0;\n  \n  if (conditions.price_vs_ma === 'below') {\n    priceMet = currentPrice < ma20;\n    priceProgress = priceMet ? 100 : Math.max(100 - (priceVsMa - 100), 0);\n  }\n  \n  conditionsMet.price_ma = {\n    required: conditions.price_vs_ma,\n    current: `${priceVsMa.toFixed(2)}%`,\n    met: priceMet,\n    progress: priceProgress.toFixed(2)\n  };\n  scores.push(priceProgress);\n}\n\n// Calculate average score\nconst avgScore = scores.length > 0 \n  ? scores.reduce((a, b) => a + b, 0) / scores.length \n  : 0;\n\nreturn {\n  json: {\n    strategy_id: $input.item.json.strategy_id,\n    stock_code: $input.item.json.stock_code,\n    stock_name: marketData.stock_name || '',\n    current_price: marketData.current_price || 0,\n    condition_match_score: avgScore.toFixed(2),\n    conditions_met: conditionsMet,\n    is_near_entry: avgScore >= 80\n  }\n};"
      },
      "name": "Calculate Condition Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.condition_match_score }}",
              "operation": "largerEqual",
              "value2": 80
            }
          ]
        }
      },
      "name": "If Score >= 80",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO strategy_monitoring (\n  strategy_id,\n  stock_code,\n  stock_name,\n  current_price,\n  condition_match_score,\n  conditions_met,\n  is_near_entry,\n  updated_at\n)\nVALUES (\n  '{{ $json.strategy_id }}',\n  '{{ $json.stock_code }}',\n  '{{ $json.stock_name }}',\n  {{ $json.current_price }},\n  {{ $json.condition_match_score }},\n  '{{ $json.conditions_met }}'::jsonb,\n  {{ $json.is_near_entry }},\n  NOW()\n)\nON CONFLICT (strategy_id, stock_code)\nDO UPDATE SET\n  stock_name = EXCLUDED.stock_name,\n  current_price = EXCLUDED.current_price,\n  condition_match_score = EXCLUDED.condition_match_score,\n  conditions_met = EXCLUDED.conditions_met,\n  is_near_entry = EXCLUDED.is_near_entry,\n  updated_at = NOW()"
      },
      "name": "Upsert to Strategy Monitoring",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1850, 200],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {},
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1850, 400]
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Get Active Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Strategies": {
      "main": [
        [
          {
            "node": "Split Strategies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Strategies": {
      "main": [
        [
          {
            "node": "Extract Stock Codes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Stock Codes": {
      "main": [
        [
          {
            "node": "Split Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Stocks": {
      "main": [
        [
          {
            "node": "Get Market Data from Kiwoom",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Market Data from Kiwoom": {
      "main": [
        [
          {
            "node": "Calculate Condition Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Condition Score": {
      "main": [
        [
          {
            "node": "If Score >= 80",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Score >= 80": {
      "main": [
        [
          {
            "node": "Upsert to Strategy Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
