n8n-workflows/workflow-v8-3-backend-eval.json
{
  "name": "Workflow V8-3: Backend Evaluation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 * * * *"
            }
          ]
        }
      },
      "name": "Every 1 Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        400
      ],
      "id": "7c0bf3f2-e6e6-4159-98d6-0368df9fa887"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "SUPABASE_URL",
              "value": "={{$env.SUPABASE_URL || 'https://hznkyaomtrpzcayayayh.supabase.co'}}"
            },
            {
              "name": "SUPABASE_SERVICE_ROLE_KEY",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "SUPABASE_ANON_KEY",
              "value": "={{$env.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "BACKEND_API_URL",
              "value": "http://host.docker.internal:8001"
            },
            {
              "name": "DEBUG_INFO",
              "value": "v8-3: Backend API Integration"
            }
          ]
        },
        "options": {}
      },
      "name": "Env Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        200,
        400
      ],
      "id": "903b9de0-58d5-46f7-8d1e-e9be5f271464"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Config').first().json[\"SUPABASE_URL\"] + '/rest/v1/rpc/get_active_strategies_with_universe' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('Env Config').first().json[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $('Env Config').first().json[\"SUPABASE_ANON_KEY\"]}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "name": "Get Active Strategies (RPC)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        400,
        400
      ],
      "id": "1add3824-4759-4d96-908e-188915d76949"
    },
    {
      "parameters": {
        "jsCode": "// Prepare monitoring tasks\nconst strategy = $input.item.json;\n\n// Use filtered_stocks from RPC result\nlet universe = [];\nif (strategy.filtered_stocks) {\n  if (Array.isArray(strategy.filtered_stocks)) {\n    universe = strategy.filtered_stocks.filter(code => code && typeof code === 'string');\n  } else if (typeof strategy.filtered_stocks === 'object') {\n    universe = Object.values(strategy.filtered_stocks).filter(code => code && typeof code === 'string');\n  }\n}\n\nconst outputs = [];\nconst strategyId = strategy.strategy_id || strategy.id;\nconst strategyName = strategy.strategy_name || strategy.name;\n\n// 1. Entry monitoring: all universe stocks\nif (strategy.entry_conditions && universe.length > 0) {\n  universe.forEach(stock_code => {\n    outputs.push({\n      json: {\n        strategy_id: strategyId,\n        user_id: strategy.user_id,\n        strategy_name: strategyName,\n        stock_code: stock_code,\n        monitoring_type: 'ENTRY',\n        conditions: strategy.entry_conditions,\n        position_size: strategy.position_size\n      }\n    });\n  });\n}\n\n// 2. Exit monitoring: only held stocks\nif (strategy.exit_conditions) {\n  outputs.push({\n    json: {\n      strategy_id: strategyId,\n      user_id: strategy.user_id,\n      strategy_name: strategyName,\n      monitoring_type: 'EXIT_QUERY',\n      conditions: strategy.exit_conditions,\n      position_size: strategy.position_size\n    }\n  });\n}\n\nreturn outputs;"
      },
      "name": "Prepare Monitoring Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        400
      ],
      "id": "9a28ab0c-46cb-41d0-a47a-51c84090e379"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item.json.monitoring_type === 'EXIT_QUERY');"
      },
      "name": "Filter Exit Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ],
      "id": "524686d9-fbf4-473f-9a68-87d0ce04b064"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().filter(item => item.json.monitoring_type !== 'EXIT_QUERY');"
      },
      "name": "Filter Entry Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        500
      ],
      "id": "abeb93a2-c32d-45e0-81ee-b49e45b42af6"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$('Env Config').first().json[\"SUPABASE_URL\"]}}/rest/v1/kw_portfolio?select=stock_code&user_id=eq.{{$json.user_id}}&quantity=gt.0",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('Env Config').first().json[\"SUPABASE_ANON_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $('Env Config').first().json[\"SUPABASE_ANON_KEY\"]}}"
            }
          ]
        },
        "options": {
          "alwaysOutputData": true,
          "continueOnFail": true
        },
        "onError": "continueRegularOutput"
      },
      "name": "Get Held Stocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1000,
        300
      ],
      "id": "ee8041af-b6ab-4e59-a09e-d5076ae0e178"
    },
    {
      "parameters": {
        "jsCode": "// Convert held stocks to exit monitoring tasks\nconst strategy = $('If Exit Query').first().json;\n// Filter out items without stock_code (e.g. from Always Output Data)\nconst heldStocks = $input.all().map(item => item.json).filter(s => s.stock_code);\n\nif (!heldStocks || heldStocks.length === 0) {\n  // Return a SKIP item to ensure flow continues to Merge\n  return [{ json: { monitoring_type: 'SKIP' } }];\n}\n\n// Deduplicate stock codes\nconst uniqueStockCodes = [...new Set(heldStocks.map(s => s.stock_code))];\n\nreturn uniqueStockCodes.map(stockCode => ({\n  json: {\n    strategy_id: strategy.strategy_id,\n    user_id: strategy.user_id,\n    strategy_name: strategy.strategy_name,\n    stock_code: stockCode,\n    monitoring_type: 'EXIT',\n    conditions: strategy.conditions,\n    position_size: strategy.position_size\n  }\n}));"
      },
      "name": "Create Exit Monitoring Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ],
      "id": "1c092f4d-2687-4429-ac30-6ab6d6a42a64"
    },
    {
      "parameters": {
        "mode": "append"
      },
      "name": "Merge Tasks",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1000,
        500
      ],
      "id": "f1e2d3c4-b5a6-4789-9012-34567890abcd"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.monitoring_type }}",
              "operation": "notEqual",
              "value2": "SKIP"
            }
          ]
        }
      },
      "name": "If Valid Task",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        500
      ],
      "id": "0df81b66-f3b8-428f-9641-7996886a8724"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Env Config').first().json[\"BACKEND_API_URL\"] + '/api/strategy/check-signal' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"strategy_id\": \"{{ $json.strategy_id }}\",\n  \"stock_code\": \"{{ $json.stock_code }}\"\n}",
        "options": {}
      },
      "name": "Check Strategy Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        500
      ],
      "id": "7832cca6-check-sig-0000-checksig0001"
    },
    {
      "parameters": {
        "jsCode": "// Process API Response and Merge Logic\nconst originalTask = $('If Valid Task').item.json;\nconst apiResponse = $input.item.json;\n\n// Determine conditions met based on signal type\nconst entryMet = apiResponse.signal_type === 'BUY' ? apiResponse.entry_conditions_met : {};\nconst exitMet = apiResponse.signal_type === 'SELL' ? apiResponse.exit_conditions_met : {};\n\n// Scale strength\nconst score = (apiResponse.signal_strength || 0) * 100;\n\nreturn {\n  json: {\n    ...apiResponse,\n    monitoring_type: originalTask.monitoring_type,\n    // Ensure critical fields are preserved/mapped\n    strategy_id: originalTask.strategy_id,\n    stock_code: originalTask.stock_code,\n    stock_name: apiResponse.stock_name || originalTask.stock_name || originalTask.stock_code,\n    current_price: apiResponse.current_price,\n    condition_match_score: score,\n    conditions_met: entryMet,\n    exit_conditions_met: exitMet,\n    is_near_condition: score >= 80,\n    is_held: originalTask.monitoring_type === 'EXIT'\n  }\n};"
      },
      "name": "Process API Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        500
      ],
      "id": "99887766-process-res-0000-procres00001"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.condition_match_score }}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "name": "If Score >= 50",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1800,
        500
      ],
      "id": "150e41dc-236f-4d98-a007-327873cf2df7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$('Env Config').first().json[\"SUPABASE_URL\"]}}/rest/v1/strategy_monitoring?on_conflict=strategy_id,stock_code",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$('Env Config').first().json[\"SUPABASE_SERVICE_ROLE_KEY\"]}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $('Env Config').first().json[\"SUPABASE_SERVICE_ROLE_KEY\"]}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates, return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  strategy_id: $json.strategy_id,\n  stock_code: $json.stock_code,\n  stock_name: $json.stock_name,\n  current_price: $json.current_price,\n  condition_match_score: $json.monitoring_type === 'ENTRY' ? $json.condition_match_score : null,\n  conditions_met: $json.monitoring_type === 'ENTRY' ? $json.conditions_met : null,\n  is_near_entry: $json.monitoring_type === 'ENTRY' ? $json.is_near_condition : null,\n  exit_condition_match_score: $json.monitoring_type === 'EXIT' ? $json.condition_match_score : null,\n  exit_conditions_met: $json.monitoring_type === 'EXIT' ? $json.exit_conditions_met : null,\n  is_near_exit: $json.monitoring_type === 'EXIT' ? $json.is_near_condition : null,\n  is_held: $json.is_held,\n  updated_at: 'now()'\n} }}",
        "options": {}
      },
      "name": "Upsert to Strategy Monitoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        400
      ],
      "id": "75949d7c-320b-4b3c-a8d0-020bfd54ef2e"
    },
    {
      "parameters": {},
      "name": "No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2000,
        600
      ],
      "id": "d6dbbaf8-f5d6-4577-a755-918068bb830a"
    }
  ],
  "connections": {
    "Every 1 Minute": {
      "main": [
        [
          {
            "node": "Env Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Env Config": {
      "main": [
        [
          {
            "node": "Get Active Strategies (RPC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Strategies (RPC)": {
      "main": [
        [
          {
            "node": "Prepare Monitoring Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Monitoring Tasks": {
      "main": [
        [
          {
            "node": "Filter Exit Tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter Entry Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Exit Tasks": {
      "main": [
        [
          {
            "node": "Get Held Stocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Entry Tasks": {
      "main": [
        [
          {
            "node": "Merge Tasks",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Held Stocks": {
      "main": [
        [
          {
            "node": "Create Exit Monitoring Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Exit Monitoring Tasks": {
      "main": [
        [
          {
            "node": "Merge Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Tasks": {
      "main": [
        [
          {
            "node": "If Valid Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Valid Task": {
      "main": [
        [
          {
            "node": "Check Strategy Signal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Strategy Signal": {
      "main": [
        [
          {
            "node": "Process API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process API Response": {
      "main": [
        [
          {
            "node": "If Score >= 50",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Score >= 50": {
      "main": [
        [
          {
            "node": "Upsert to Strategy Monitoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "0023c700-675e-4d4d-ae38-c7fc94f421fc"
  }
}
